@import "variables.css";

body {
  background-color: var(--background);
}

.logoutLink {
  float: right;
  color: white;
  cursor: pointer;
  justify-content: top;
}

.centeredDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 320px;
  background: var(--main-purple);
  text-align: center;
  padding: 30px;
  border-radius: 10%;
}

.link {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.regularInput {
  width: 14em;
  border: 1px solid gray;
  border-radius: 4px;
  color: var(--secondary-gray);
  margin: auto;
}

.whiteLabel {
  color: white;
  margin-right: 10px;
}

.smallBtn {
  width: 70%;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 110%;
  background-color: white;
  border: 1px solid var(--main-purple);
  color: var(--main-purple);
  border-radius: 4px;
  cursor: pointer;
}

.homePageText {
  color: white;
  font-size: 150%;
  font-weight: bold;
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

.post {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-flow: column;
  color: white;
  text-align: justify;
  margin: 15px 30px 15px 30px;
  padding: 20px;
  background-color: var(--secondary-gray);
  border-radius: 5px;
}

.postExcerpt {
  min-height: 100px;
}

.postImage {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.authorInfoDiv {
  display: flex;
  align-items: center;
}

.authorImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}

.filtersContainer {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 100px;
  background-color: var(--secondary-gray);
  padding: 20px;
  border-radius: 5px;
}

.filtersLabel {
  color: white;
  font-size: 110%;
}

.filtersSelectInput {
  margin: 5px;
  width: 30%;
  height: 35px;
  border-radius: 5px;
}

.authorTable {
  border-collapse: collapse;
  margin: auto;
  margin-top: 100px;
  width: 60%;
}

.authorTable td {
  color: white;
  border: 3px solid var(--dark-transparent-gray);
  padding: 20px;
  text-align: center;
  background-color: var(--dark-transparent-gray);
}

.tdAuthorImage {
  width: 25%;
}

.authorImageInTd {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.tdAuthorName {
  width: 45%;
  font-size: 150%;
  font-weight: bold;
}

.tagListTable {
  margin: auto;
  margin-top: 100px;
  width: 60%;
}

.tagListTable td {
  color: white;
  border: 3px solid var(--dark-transparent-gray);
  padding: 20px;
  text-align: center;
  background-color: var(--dark-transparent-gray);
  width: 25%;
}

.tagsHeader {
  font-size: 130%;
  font-weight: bold;
}

.tagImage {
  height: 70px;
  width: 90px;
}

h4 {
  text-align: center;
}
