:root {
  --background: #202024;
  --main-purple: rgba(62, 24, 165, 0.9);
  --secondary-gray: rgb(100, 99, 99);
}
body {
  background-color: var(--background);
}

.centeredDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 300px;
  background: var(--main-purple);
  text-align: center;
  padding: 30px;
  border-radius: 10%;
}

.link {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.regularInput {
  width: 14em;
  border: 1px solid gray;
  border-radius: 4px;
  color: var(--secondary-gray);
  margin: auto;
}

.whiteLabel {
  color: white;
  margin-right: 10px;
}

.smallBtn {
  width: 70%;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 110%;
  background-color: white;
  border: 1px solid var(--main-purple);
  color: var(--main-purple);
  border-radius: 4px;
  cursor: pointer;
}

.homePageText {
  color: white;
  font-size: 150%;
  font-weight: bold;
}
